
  .customAvatar-sm  {
    margin: auto;
    width: 40px !important;
    height: 40px !important;
    display: 'flex';
    position: 'relative';
    overflow: 'hidden';
    font-size: '1.25rem';
    align-items: 'center';
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: 'none';
    border-radius: '50%';
    justify-content: 'center';
  }

  
  .customAvatar-lg  {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
    display: 'flex';
    position: 'relative';
    overflow: 'hidden';
    font-size: '1.25rem';
    align-items: 'center';
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: 'none';
    border-radius: '50%';
    justify-content: 'center';
  }

  .customAvatar{
    text-align: center;
  }